debug/
target/
dist/

htmlcov/
coverage.xml
.coverage

*.egg-info/
Cargo.lock
**/*.rs.bk
*.pdb

__pycache__/
*.py[cod]
*$py.class

python/watchfs/log
.idea
venv
*_pb2.py
*~
build_scripts/protoc
build_scripts/protoc.zip